<!DOCTYPE html>
<html>
  <head>

  <body ng-app='googleCats'>
    <h1>Google for Cats</h1>


    <div ng-controller='SearchController'>
    <form name='search-bar' ng-submit='search()' novalidate>
      <input name='query'
        type='text'
        ng-model=data.query
        placeholder='Meow (Search Here)'/>

    </form>

    <ol>
      <li
        ng-repeat="result in data.results">
        <a href='{{result.url}}'>{{result.name}}</a>
      </li>
    <ol>
  </div>
    <script src='angular/angular.js'></script>
    <script src='angular-route/angular-route.js'></script>
    <script src='app/app.js'></script>
    <script src='app/search.js'></script>
    <script src='app/services.js'></script>

  </body>

</html>
